<!DOCTYPE html>
<html>

<head>
  <title></title>
  <%= stylesheet_link_tag    'petprofile', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>  
  <section class="petprofile">
    <div class="inner">
		<div class="pic"> </div>
		<div class="petdata">
			<div class="petname">
				<h2>Simón</h2>
			</div>
			<div class="data">	
				<div class="left">
					<ul>
						<li><p>Edad</p></li>
						<li><p>Raza</p></li>
						<li><p>Código</p></li>
					</ul>
				</div>
				<div class="right">
					<ul>
						<li><p>5 años</p></li>
						<li><p>Samoyedo</p></li>
						<li><p>91019801901</p></li>
					</ul>
				</div>
			</div>
		</div>
    </div>
  </section>
  <section class="chart">
  	<div class="inner">
  		<div class="deworming">
			<div class="titlede">
				<h3>Desparasitación</h3>
			</div>
			<div class="content">
				<ul>
					<p>Ultima desparasitación: Julio 31 de 2015</p>
				</ul>
			</div>
		</div><div class="shots">
			<div class="titlesh">
				<h3>Vacunas</h3>
			</div>
			<div class="content">
				<ul>
					<li class="a">j</li>
					<li class="a">j</li>
					<li class="a">j</li>
					<li class="a">j</li>
				</ul>
			</div>
		</div><div class="diseases">
			<div class="titledi">
				<h3>Enfermedades</h3>
			</div>
			<div class="content">
				<ul>
					<li class="b">algo</li>
					<li class="b">algo</li>
					<li class="b">algo</li>
					<li class="b">algo</li>
					
				</ul>

			</div>
		</div>
			
  	</div>

  </section>
</body>
</html>