<!DOCTYPE html>
<html>

<head>
  <title></title>
  <%= stylesheet_link_tag    'petprofile', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>  
  <section class="container">
    <div class="inner">algo</div>

  </section>
</body>
</html>