<header>
  <section class="nav-bar">
    <div class="hamburger">
      
    </div>
  </section>
</header>


<div class="container">
  <nav>
   <%= image_tag("facebook.svg", alt: "facebook") %>
  </nav>
</div>