.chart
	width: 100%
	padding: 16px 0 
	display: block
	text-align: center
	.inner
		width: 100%
		max-width: 1024px
		margin: 0 auto
		position: relative
		display: inline-block

	.shots, .diseases
		display: inline-block
		width: 50%

	.shots
		background-color: pink
	.diseases
		background-color: violet
